<div class="container">

  <form id="userform" [formGroup]="contactForm">

    <h2> ToDo </h2>
    <p>Please, enter your tasks in the form bellow</p>

    <div class="form-group">
      <label class="form-check-label"> Todo:</label><br>
      <input type="text"
             class="form-control"
             formControlName="name"
             placeholder="Enter your ToDo name">
    </div>

    <div class="form-group">
      <label class="form-check-label">ToDo status: </label><br>
      <select name="status"
              class="form-control"
              formControlName="status">
        <option value="finished">Finished</option>
        <option value="unfinished">Unfinished</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-check-label">Todo Description</label> <br>
      <textarea formControlName="description"
                rows="10"
                class="form-control">Enter your ToDo here...
      </textarea>
    </div>

    <button type="button" class="btn btn-sm btn-outline-primary submitbtn" [disabled]="contactForm.invalid"
            (click)="onSubmit()">Submit
    </button>
    <br/>
  </form>
  <hr/>

  <button type="button" class="btn btn-sm btn-outline-primary deletebtn" (click)="onDeleteAll()">Delete All ToDos
  </button>
  <br/><br/>

  <div>
    <label class="form-check-label">Find Todo:</label><br>
    <input type="text"
           class="form-control"
           #input
           (keyup)="onFindTodo(input.value)"
           placeholder="Enter your ToDo name here...">
  </div>
  <br/>

  <div *ngFor="let todo of result">
    <app-task-ticket [todo] = "todo"  (onDelete)="onDeleteOne($event)" ></app-task-ticket>
  </div>

</div>
<br><br>

